--extra-index-url https://rospypi.github.io/simple/
pytest
requests
rosbag
pathlib; python_version < '3'
rospy < 1.15; python_version < '3'
rosbag < 1.15; python_version < '3'
numpy>=2; python_version >= "3.9"
numpy<2; python_version < "3.9"
